<h1>Enjoy Your Burger!</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>{{burger_name}} <button class="eatButton" type="button" data-id="{{id}}">Eat it!</button></li>
    {{/unless}}
  {{/each}}
</ul>


<h2>Burgers Eaten and/or Devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>{{burger_name}} <button class="digestButton" type="button" data-id="{{id}}">Digest it!</button></li> </li> 
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

<script>
$(".eatButton").on("click", function(event){
    event.preventDefault();
    
    console.log($(this).data("id"))
    console.log($(this).attr("data-id"))
    var id = $(this).attr("data-id")

   $.ajax({
      url: "/api/burgers/" + id, 
      type: "PUT"
    }).then(
      function() {
        console.log("burger has been eaten")
        // Reload the page to get the updated list
        location.reload();
      }
    );
  })

  $(".create-form").on("submit", function(event){
    event.preventDefault();

    console.log($("#ca").val())
    var burger_name = $("#ca").val()
    var burgerObject = {burger_name}
    console.log(burgerObject)

    $.ajax({
      url: "/api/burgers",
      type: "POST",
      data: burgerObject
    }).then(function(){
      console.log("created new burger");
      location.reload();
    })

  })

  $(".digestButton").on("click", function(event) {
    var id = $(this).data("id");

    // Send the DELETE request.
    $.ajax({
      url: "/api/burgers/" + id, 
      type: "DELETE"
    }).then(function(){
        console.log("deleted burger", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>